#container {
    display: flex;
    align-items: center;
    max-width: 1100px;
    height: 720px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    color: var(--color-ice);
}

#img-login {
    flex: 2;
    height: 100%;
    background: url('../assets/bgRegister.jpg') no-repeat center;
    background-size: cover;
}

.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}

.filter #imgLogo{
    display: flex;
    flex-direction: column;
}

.filter #imgLogo img{
    margin: 20px auto;
    max-width: 35%;
}

.filter #description {
    margin: 0 auto;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}

.filter #description h2{
    text-align: center;
    font-size: 2.5rem;
}

.filter #description h4{
    text-align: center;
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px var(--color-default);
}

.filter #description p {
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px var(--color-default);
}

#form-sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;

    height: 100%;
    background-color: var(--color-ice);
    color: var(--color-pink);
}
