.home-page {
    display: flex;
    
    width: 100%;
    max-height: 100vh;
    padding: 1rem;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 65% center;
    background-blend-mode: luminosity;
    background-size: 40%;
    background-color: var(--color-lightgray);
    background-image: url("../../public/simpleLogoWhite.png");
}

.home-page .advertising {
    flex: .8;
}

.home-page section {
    display: flex;
    flex-direction: column;
    flex: 6;
}

.home-page section h1 {
    margin: 0 auto;
}

.home-page .partiners {    
    flex: .8;
    background-color: var(--color-discord);
}