.project-cfi {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 1rem;
}

.warning{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block: 2rem;
    padding: 1rem;

    background-color: var(--color-warning);
    border: 1px solid;
    box-shadow: 2px 2px 2px #222;
    
    font-size: 1.2rem;
}

.project-cfi .warning p {
    text-align: justify;
}